
body
{
color:white;
background-color:#5e97ab;;
background-image:url('../img/pencil.jpg');
background-repeat:no-repeat;
background-size: cover;
}
#navbar, .linksbar
{
//overflow:auto;
}
#contactform
{
opacity:0.1;
color:white;
margin:0 auto;
border-radius:40px;
border:5px solid black;
width:700px;
background-color:#333333;
height:600px;
}
.contacttitle
{
margin:0 auto;
width:80%;
font-size:30px;
font-weight:bold;
text-align:center;
}
.contactunder
{
margin:0 auto;
width:400px;
font-size:20px;
font-weight:bold;
text-align:center;
}
#contactname, #contactemail
{
margin:0 auto;
width:80%;
text-align:center;
font-weight:bold;
font-size:20px;
}
input[type=text]
{
width:300px;
border-radius:10px;
padding:5px;
background-color:#eee;
font-size:20px;

}
input[type=text]:focus
{
border-radius:10px;
padding:5px;
background-color:#ffffff;
}
*:focus {
    outline: none;
}
#undername, #overemail, #underemail,#undercontent
{
text-align:center;
font-size:18px;
}
#contactemailchoice
{
width:80%;
font-size:20px;
margin:0 auto;
text-align:center;
display:none;
}

#contactemail
{
display:none;
}
#contactcontent
{
display:none;
margin:0 auto;
width:80%;
text-align:center;
font-size:20px;
font-weight:bold;
}
textarea
{
padding:10px;
font-size:20px;
width:70%;
height:200px;
}
button
{
background-color:white;
}


@media (max-width: 800px) {
.link1, .topbar
{
width:100%;
height:30px;
padding:4px;
font-size:20px;
border-bottom:1px solid black;
}
.logoleft
{
height:60px;
width:100%;
float:left;
padding-bottom:20px;
}
.linksbar
{
width:100%;
position:static;
}
.topbar
{
display:none;
}
#can
{
clear:both;
}
#second
{
height:100%;
}
.leftarrow,.rightarrow{
width:30px;
}
#sliderpop
{
width:650px;
height:1200px;
top:10px;
left:10px;
margin-left:0px;
margin-top:0px;
font-size:16px;
}
#contactform
{
width:90%;
}
.contacttitle
{clear:both;}
}
